* {
  box-sizing: border-box;
}

.textareacomments{
  padding-bottom: 200px;
}
body{
  background-color: white;
}
div{
  text-align: left;
  line-height: 1.50em;
  font-family: Merriweather, Georgia, sans-serif;
  margin-bottom: 10px;
  padding: 5px;
}
h1, h2, h4{
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
}

.opening-paragraph{
  color: black;
  font-size: 18px;
  text-indent: 15px;
  font-weight: 600;
}

.opening-paragraph::first-line{
  font-size: 22px;
}
.second-paragraph{
  font-size: 18px;
}

table{
  border: 1px solid black;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: 600;
  padding: 10px;
}

p{
  font-family: Merriweather, Georgia, sans-serif;
}

header{
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  font-family: Merriweather, Georgia, sans-serif;
  text-transform: lowercase;
  margin-top: 0;
  height: 5em;
  width: 100%;
  text-align: center;
}

.menu-item{
  display: inline-block;
  margin: 1em .2em;
  min-width: 6em;
  text-align: center;
  background-color: black;
  padding: 0.5em 1 em;
}

.menu-item a {
  color: white;
  text-decoration: none;
}

.menu-item:hover {
  background-color: grey;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  border: 1px solid black;
  margin: 0.5em 0 0 -1em;
  color: black;
  background-color: white;
  z-index: 1;
}

.dropdown-content a {
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
  color: black;
  background-color: grey;
}

.mainimage{
  float: left;
  content: url("../images/dogs-image-1.jpg")
}

.secondimage{
  float:right;
  content: url("../images/dogs-image-2.jpg")
}

.thirdimage{
  margin: auto;
  content: url("..images/dogs-image-3.jpg")
}

.fouthimage{
  margin: auto;
  content: url("..images/dogs-image-4.jpg")
}

.fifthimage{
  margin: auto;
  content: url("..images/dogs-image-5.jpg")
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after{
  content: "";
  clear: both;
  display: table;
}

.contactus{
  width: 50%;
  margin-left: 25%;
}
