* {
  box-sizing: border-box;
}

p {
  font-size: 50px;
  font-family: sans-serif;
  color: black;
}

.container {
  padding: 100px 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

.image-stack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}


.image-stack__item--top {
    float: left;
    grid-row: 1;
    grid-column: 1 / span 8;
    padding-top: 20%;
}

.image-stack__item--bottom {
    float: right;
    grid-column: 4 / -1;
    grid-row: 1;
}

.imgage {
  width: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: grey;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
