* {
  box-sizing: border-box;
}

p {
  font-size: 50px;
  font-family: sans-serif;
  color: black;
}

.container {
  padding: 100px 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

.image-stack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}



.image-stack__item--top {
    float: left;
    width: 66%;
    margin-right: -100%;
    padding-top: 15%;
    position: relative;
    z-index: 1;
}

.image-stack__item--bottom {
    float: right;
    width: 75%;
}

.imgage {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottome: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: .5s ease;
  background-color: grey;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
